tr.odd			{background: #f0f4fc !important;}
tr.even			{background: #dee9ff !important;}

#topButton	{
	height: 20px !important; 
	width: 100% !important; 
	padding: 10px 0px 2px 0px !important; 
	margin: 0 !important; 
	background-color: #799dde !important; 
	color: #060f4b !important;
}
#topButton:hover { background:#8fb7ff !important; }


.mapOverlay
{ 
		width:100%;
		height:100%;
		position:fixed;
		left:0px;
		top:0px;
		z-index:50;
		background:url(/img/common/overlay.png);
		display:none
}
#mapOverlay{
	z-index:55;
}
#mapPopupIn{
	background:#fff;
	position:absolute;
	left:50%;
	z-index:56;
	padding:20px;
}